[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/STX"]
	path = external/STX
	url = https://github.com/lamarrr/STX.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/reactphysics3d"]
	path = external/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
