[submodule "external/STX"]
	path = external/STX
	url = https://github.com/lamarrr/STX.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/reactphysics3d"]
	path = external/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/raylib-cpp"]
	path = external/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
